:markdown

  ## Junior
  Junior Frontend Engineers are developers who meeting the following criteria:
  1. Technical skills
    * Needs guidance writing modular and maintainable code
    * Has less experience with HTML, CSS & JavaScript
  1. Code quality
    * Leaves code in substantially better shape than before
    * Needs prompting to fix bugs/regressions
  1. Communication
    * Needs help to manage time effectively
    * Participates in frontend technical conversations
  1. Performance & Scalability
    * Needs help writing production-ready code
    * Has little to no experience writing large scale apps
